{% load staticfiles assets flatpages solo_tags %}
{% get_solo 'landing.SiteConfiguration' as site_config %}
{% get_flatpages as flatpages %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ site_config.title }}</title>
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Игрушки в стиле МиМиМи"/>
		<meta name="keywords" content="МиМиМи, игрушки, москва, игрушки в москве, github, cat, cats,ручная работа, игрушки ручной работы " />
        <link rel="stylesheet" href="{% static "fancybox/css/jquery.fancybox.css" %}" type="text/css" media="screen"/>
		<!--[if lte IE 8]><script src="{% static "css/ie/html5shiv.js" %}"></script><![endif]-->
        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <script src="{% static "fancybox/js/jquery.fancybox.pack.js" %}" type="text/javascript"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".fancybox").fancybox();
                $('.thumb').show(); // these are hidden by CSS, so we show them here
                $('.big').hide();
                var current = $('#pics').find('.big').first().clone();
                $('#pics').before(current); // puts current before the #pics list
                $(current).show().addClass('view');
                $('#pics').on('click', '.thumb', function() {
	                $(current).remove();
	                current = $(this).prev().clone(); // grabs the node before (this)
                    $('#pics').before(current); // puts current before the #pics list
	                $(current).show().addClass('view');
                    });

            });
        </script>
		<noscript>
            {% assets "css_noscript" %}
                <link rel="stylesheet" href="{{ ASSET_URL }}" />
            {% endassets %}
		</noscript>
    <style>
#viewer {
	width: 600px;
	padding: 20px 30px;
	background: #96d2e2;
	float: left;
	}

#pics {
	list-style: none;
	width: 600px;
	margin: 0;
	padding: 20px 30px;
	float: left;
}

#pics li {
	list-style: none;
	display: inline;
}


/* this hides the thumbnail images - they will be shown via jQuery.
   We do this in case a user has JavaScript disabled, in which case
   that user will just see all the photos on one page */
.thumb {
	display: none;
	}

.view {
	padding: 10px 30px;
}
    </style>
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static "css/ie/v8.css" %}"/><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
			<div id="header">
						
				<!-- Inner -->
					<div class="inner">
						<header>
							<h1><a href="/" id="logo"><img src="{% static "logo.png"%}"></a></h1>
                            <h2 style="color: #f7755e;font-size: 350%;">{{ site_config.name }}</h2>
							<hr />
							<p>{{ site_config.slogan }}</p>
						</header>
						<footer>
							<a href="#banner" class="button circled scrolly">Выбрать</a>
						</footer>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Главная</a></li>
                            {% for page in flatpages %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                            {% endfor %}
						</ul>
					</nav>

			</div>
			
		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>{% autoescape off %}{{ site_config.slider_header }}{% endautoescape %}</h2>
				</header>
			</section>

		<!-- Carousel -->
			<section class="carousel">
				<div class="reel">
                {%  for toy in toys %}
					<article>
						<a href="#article_{{ toy.id }}" class="image featured"><img src="{{ toy.avatar_thumbnail.url }}" alt="" /></a>
						<header>
							<h3><a href="#article_{{ toy.id }}">{{ toy.name }}</a></h3>
						</header>
						<p>{{ toy.desc_mini }}</p>
					</article>
				{% endfor %}
				</div>
			</section>
			
		<!-- Main -->
			<div class="wrapper style2">
                {%  for toy in toys %}
				<article id="article_{{ toy.id }}" class="container special">
                    {% if toy.image_gallery %}
                        <ul id="pics">
                            <li><a href="{{ toy.avatar.url }}" class="fancybox"><img class="big" src="{{ toy.avatar.url }}" width="400px" rel="gallery" title="{{ toy.name }}" data-fancybox-group="{{ toy.id }}" style="float: left;margin-left: 10px;"></a><img class="thumb" src="{{ toy.avatar.url }}" width="70px" height="70px"></li>
                            {% for image in toy.image_gallery.pictures.all %}
                                <li><img class="big fancybox" src="{{ image.image.url }}"  data-fancybox-group="{{ toy.id }}" style="float: left;margin-left: 10px;"><img class="thumb" src="{{ image.image.url }}" width="70px" height="70px"></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <a class="fancybox" href="{{ toy.avatar.url }}" style="float: left;margin-left: 10px;"><img src="{{ toy.avatar.url }}" width="400px" rel="gallery" title="{{ toy.name }}" data-fancybox-group="{{ toy.id }}"></a>
                    {% endif %}

					<header>
						<h2><a href="#article_{{ toy.id }}">{{ toy.name }}</a></h2>
							<p>{{ toy.desc_mini }}</p>
					</header>
					<p>
						{{ toy.desc_full }}
					</p>
                    <p>Стоимость: {{ toy.price }} руб.</p>
					<footer>
                        {% if toy.avalable %}
                        <p class="button">Купить</p>
                        {% else %}
                        <p class="button">Заказать</p>
                        {% endif %}
	<!--					<a href="#" class="button">Подробнее</a> -->
					</footer>
				</article>
            {% endfor %}
			</div>
		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">

						<!-- Tweets -->
							<section class="4u">
								<header>
									<h2 class="icon fa-twitter circled"><span class="label">Tweets</span></h2>
								</header>
							</section>

						<!-- Posts -->
							<section class="4u">
								<header>
									<h2 class="icon fa-file circled"><span class="label">Posts</span></h2>
								</header>
							</section>

						<!-- Photos -->
							<section class="4u">
								<header>
									<h2 class="icon fa-camera circled"><span class="label">Instagram Photos</span></h2>
								</header>
 							</section>

					</div>
					<hr />
					<div class="row">
						<div class="12u">

							<!-- Contact -->
								<section class="contact">
									<header>
										<h3>Мы доступны</h3>
									</header>
									<p>В социальных сетях</p>
									<ul class="icons">
										<li><a href="{{ site_config.fb_url }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                        <li><a href="{{ site_config.vk_url }}" class="icon fa-vk"><span class="label">VK</span> </a> </li>
										<li><a href="{{ site_config.instagram_url }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									</ul>
								</section>

							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; Mimimi-toys.ru All rights reserved.</li>
									</ul>
								</div>

						</div>

					</div>
				</div>
			</div>

	</body>
</html>