{% load staticfiles assets flatpages solo_tags %}
{% get_solo 'landing.SiteConfiguration' as site_config %}
{% get_flatpages as flatpages %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ flatpage.title }}</title>
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Игрушки в стиле МиМиМи"/>
		<meta name="keywords" content="МиМиМи, игрушки, москва, игрушки в москве, github, cat, cats,ручная работа, игрушки ручной работы " />
		<!--[if lte IE 8]><script src="{% static "css/ie/html5shiv.js" %}"></script><![endif]-->
        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
		<noscript>
            {% assets "css_noscript" %}
                <link rel="stylesheet" href="{{ ASSET_URL }}" />
            {% endassets %}
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static "css/ie/v8.css" %}"/><![endif]-->
	</head>
</head>
<body class="homepage">
<div id="header">
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Главная</a></li>
                            {% for page in flatpages %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                            {% endfor %}
						</ul>
					</nav>
                <div class="inner">
						<header>
							<h1><a href="/" id="logo"><img src="/static/logo.png"></a></h1>
                            <h2 style="color: #f7755e;font-size: 350%;">{{ site_config.name }}</h2>
							<hr>
							<p>{{ site_config.slogan }}</p>
						</header>
						<footer>
                            <a href="#content" class="button circled scrolly">Нажми</a>
						</footer>
				</div>
</div>
<div>
			<section id="content">
				<header>
					<p>
					</p>
				</header>
                <div style="padding: 0 30px 0 30px">{{ flatpage.content }}</div>
			</section>
</div>
		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">

					</div>
					<hr />
					<div class="row">
						<div class="12u">

							<!-- Contact -->
								<section class="contact">
									<header>
										<h3>Мы доступны</h3>
									</header>
									<p>В социальных сетях</p>
									<ul class="icons">
                                		<li><a href="{{ site_config.fb_url }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                        <li><a href="{{ site_config.vk_url }}" class="icon fa-vk"><span class="label">VK</span> </a> </li>
										<li><a href="{{ site_config.instagram_url }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<!-- <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li> -->
									</ul>
								</section>

							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; Mimimi-toys.ru All rights reserved.</li>
									</ul>
								</div>

						</div>

					</div>
				</div>
			</div>

</body>
</html>